@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,500&display=swap");

body {
  background-color: #B5EAEA;
  
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  margin: 0px;
  
  
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

section > h2 {
  letter-spacing: 5px;
  margin-top: 60px;
}
#container {
  width: 50vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  margin: 40px auto;
}

.d-i {
  width: 100%;
  height: 100%;
}

/* .horizontal{
    grid-column: span 2;
}

.vertical{
    grid-row: span 2;
}

.big{
    grid-row: span 2;
    grid-column: span 2
} */

#container > div {
  transition: all 0.7s;
}
#container > div:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

#container > div img {
  border-radius: 20px;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  
}

nav > a{
  color: white;
  text-decoration: none;
}

.nav-content{
  display: flex;
  width: 450px;
  justify-content: space-around
}

.nav-content > a{
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

.nav-content>a:hover {
  font-weight: bold;
}

#background-img{
  height: 100vh;
  width: 100vw;
  
  
}

#background-img >img{
  width: 100%;
  height: 100%;
}

.carousel-item{
  width: 50vw;
  height: 60vh;
}

.c-image{
  width: 100%;
  height: 100%;
}

.carousel{
  margin-top: 50px;
}




@media screen and (max-width: 700px) {
  #container {
    width: 90vw;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
  }
}
